{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% if  app.user %}
Hi {{ app.user.userIdentifier }}
    <a href="logout">Logout</a>
{% else %}
    <a href="login">Login</a>

{% endif %}

{% endblock %}
